{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>淘景立画产品平台入口导航</title>
    <meta charset="UTF-8">
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'list/css/list.css' %}" rel="stylesheet"/>
    <script>
    </script>
</head>

<body>
    <div id="title_content" class="title_content">
        <div id="title" class="title">淘景立画产品平台入口导航</div>
        <div id='principal' class="principal">维护联系人：张奇</div>
    </div>
    <div id="table_content" class="table_content">
        <ul>
            <!-- 运营系统 -->
            <li>
                <input type="radio" name="check" id="active1" checked><label for="active1">运营系统</label>
                <div class="active_content">
                    <!-- CMS -->
                    <div id='list_content_0' class="list_content_0 list_content operatior_system">
                        <div class="toponymy standard old">老的OMS</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil operation">
                                <div class="oms_logo system_logo "></div>
                                <div class="official_button top"><a href="http://139.196.189.182:8082/hyperion.admin/index.html" class="button">中央</a></div>
                            </div>
                        </div>
                    </div>
                    <div id='list_content_1' class="list_content_1 list_content operatior_system">
                        <div class="toponymy">BI</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil operation">
                                <div class="BI_logo system_logo"></div>
                                <div class="official_button top"><a href="http://47.100.91.36:8086" class="button">中央</a></div>
                            </div>
                        </div>
                    </div>
                    <div id='list_content_1' class="list_content_1 list_content operatior_system">
                        <div class="toponymy">Kibana</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil operation">
                                <div class="kibana_logo  system_logo"></div>
                                <div class="official_button top"><a href="http://kibana.topdraw.cn" class="button">中央</a></div>
                            </div>
                        </div>
                        
                    </div>
                    <div id='list_content_1' class="list_content_1 list_content operatior_system">
                        <div class="toponymy">CMS</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil operation">
                                <div class="cms_logo  system_logo"></div>
                                <div class="official_button top"><a href="http://139.196.4.234/login?redirect=%2Fdashboard" class="button">中央</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- 标准产品 -->
            <li>
                <input type="radio" name="check" id="active2" checked><label for="active2">标准产品</label>
                <div class="active_content">
                    <!-- CMS -->
                    <!-- <div id='list_content_0' class="list_content_0 list_content  standard_top">
                        <div class="toponymy standard_font">CMS</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0">
                                <div class="education_logo logo standard_logo"></div>
                                <div class="official_button standard_position"><a href="http://139.196.4.234/login?redirect=%2Fdashboard" class="button">中央CMS</a></div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <hr style="margin-bottom: 5px; height:1px;border:none;border-top:1px solid #555555;" /> -->
                    <!-- 教育 -->
                    <div class="list_content standard_top">
                        <div class="toponymy standard_font">教育</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0">
                                <div class="education_logo logo standard_logo"></div>
                                <div class="official_button standard_position"><a href="http://139.196.4.234:38080/hyperion.chimera/index.jsp?UserID=1" class="button">教育</a></div>
                            </div>
                        </div>
                    </div>
                    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                    <!-- 少儿 -->
                    <div  class="list_content standard_top">
                        <div class="toponymy standard_font">少儿</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0">
                                <div class="children_logo logo standard_logo"></div>
                                <div class="official_button standard_position"><a href="http://139.196.4.234:38081/clutch/index.jsp?AppID=Children" class="button">少儿</a></div>
                            </div>
                        </div>
                    </div>
                    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                    <!-- 音乐 -->
                    <div class="list_content standard_top">
                        <div class="toponymy standard_font">音乐</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0">
                                <div class="music_logo logo standard_logo"></div>
                                <div class="official_button standard_position"><a href="http://139.196.4.234:28080/hyperion.chimera/index.jsp?UserID=1" class="button">音乐</a></div>
                            </div>
                        </div>
                    </div>
                    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                </div>
            </li>
            <!-- 各个驻地连接 -->
            <li>
                <input type="radio" name="check" id="active3" checked><label for="active3">驻地</label>
                <div id='active1_content' class="active_content">
                    <div id="nav">
                        <div class="operator">运营商 </div>
                        <div class="operator_CMCC">移动 </div>
                        <div class="operator_CUCC">联通 </div>
                        <div class="operator_CTCC">电信 </div>
                        <div class="operator_GD">广电 </div>
                        <div class="operator_system">运营系统 </div>
                    </div>
                    <!-- 甘肃 -->
                    <div id='list_content_0' class="list_content_0 list_content">
                        <div class="toponymy">甘肃驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="education_logo logo"></div>
                                <div class="official_button"><a href="http://111.11.189.12:9090/hyperion.chimera/index.jsp?Token=c4ca4238a0b923820dcc509a6f75849b&UserID=2&OssUserID=0100631554951885513&needLoading=0" class="button">正试</a></div>
                                <div class="test_button"><a href="http://gansu-cmcc.edu.topdraw.cn:91/hyperion.chimera/index.jsp?Token=c4ca4238a0b923820dcc509a6f75849b&UserID=2&OssUserID=0100631554951885513&needLoading=0" class="button">测试</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                           
                            <div id="active_content_ceil_1 " class="active_content_ceil_1 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_2 " class="active_content_ceil_2 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_3 " class="active_content_ceil_3 station_ceil">
                                <div class="children_logo logo"></div>
                                <div class="official_button"><a href="http://111.11.189.150:8080/CMCC/page/specialarea/childSelect/page/index.jsp" class="button">正式</a></div>
                                <div class="test_button gray"><a href="" class="button">测试-暂无</a></div>
                                <div class="description font_size">少儿</div> 
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_4 " class="active_content_ceil_4 station_ceil">
                                <div class="children_logo logo"></div>
                                <div class="official_button"><a href="http://111.11.189.12/hyperion.chimera/index.jsp?token=2016f5a5ada24b86afebf6cd2ba30c70" class="button">正式</a></div>
                                <div class="test_button"><a href="http://111.11.189.12:8080/hyperion.chimera/index.jsp?token=2016f5a5ada24b86afebf6cd2ba30c70" class="button">测试</a></div>
                                <div class="description">少儿</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_5 " class="active_content_ceil_5 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                        </div>
                        <div class="system_content">
                            <div id="active_content_ceil_0 " class="system_content_ceil">
                                <div class="BI_logo operatior_system_logo"></div>
                                <div class="system_button"><a href="http://139.196.187.156:83/subconscious.admin/" class="button system_button_width">甘肃少儿旧BI</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- 河北 -->
                    <div id='list_content_1' class="list_content_1 height390 list_content">
                        <div class="toponymy">河北驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="blueD_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://192.168.129.226:9080/clutch/index.jsp?AppID=EducationRandylo&UserID=1" class="button">测试</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_1 " class="active_content_ceil_1 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_2 " class="active_content_ceil_2 station_ceil">
                                <div class="music_logo logo"></div>
                                <div class="official_button"><a href="http://192.168.4.246/hyperion.chimera/index.jsp?UserID=3" class="button">正式</a></div>
                                <div class="test_button"><a href="http://192.168.4.242:8080/hyperion.chimera/index.jsp?UserID=3" class="button">测试</a></div>
                                <div class="description">音乐</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_3 " class="active_content_ceil_3 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_4 " class="active_content_ceil_0 station_ceil">
                                <div class="newEast_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button gray"><a href="" class="button">测试-暂无</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_5 " class="active_content_ceil_1 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_6 " class="active_content_ceil_2 station_ceil">
                                <div class="newEast_logo logo"></div>
                                <div class="official_button gray"><a href="http://192.168.7.132:9080/clutch/index.jsp?AppID=Education&UserID=1" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://192.168.7.132:9080/clutch/index.jsp?AppID=Education&UserID=1" class="button">测试</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_7 " class="active_content_ceil_3 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_8 " class="active_content_ceil_3 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_9 " class="active_content_ceil_3 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_10 " class="active_content_ceil_10 station_ceil">
                                <div class="blueD_logo logo"></div>
                                <div class="official_button gray" ><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button gray"><a href="" class="button">测试-暂无</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div class=" station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                        </div>
                        <div class="system_content">
                            <div class="system_content_ceil">
                                <div class="cms_logo operatior_system_logo"></div>
                                <div class="system_button"><a href="http://192.168.7.132:90/login?redirect=%2Fdashboard" class="button system_button_width">河北新东方</a></div>
                            </div>
                            <div class="system_content_ceil">
                                <div class="cms_logo operatior_system_logo"></div>
                                <div class="system_button"><a href="http://192.168.129.226:90/login?redirect=%2Fdashboard" class="button system_button_width">河北蓝迪</a></div>
                            </div>
                            <div class="system_content_ceil">
                                <div class="kibana_logo operatior_system_logo"></div>
                                <div class="system_button"><a href="http://172.25.42.107:5601/" class="button system_button_width">电信音乐</a></div>
                            </div>
                            <div class="system_content_ceil">
                                <div class="kibana_logo operatior_system_logo"></div>
                                <div class="system_button"><a href="http://172.25.42.109:5601/" class="button system_button_width">电信新东方</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- 海南 -->
                    <div id='list_content_2' class="list_content_2 list_content">
                        <div class="toponymy">海南驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="music_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://172.16.23.11:8080/hyperion.chimera/index.jsp?Target=HTYY" class="button">测试</a></div>
                                <div class="description">音乐</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_1 " class="active_content_ceil_1 station_ceil">
                                <div class="music_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://172.16.23.11:8080/hyperion.chimera/index.jsp" class="button">测试-暂无</a></div>
                                <div class="description">K歌大赛</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_2 " class="active_content_ceil_2 station_ceil">
                            </div>
                            <div id="active_content_ceil_3 " class="active_content_ceil_3 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_4 " class="active_content_ceil_4 station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_5 " class="active_content_ceil_5 station_ceil">
                                <div class="children_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button gray"><a href="" class="button">测试-暂无</a></div>
                                <div class="description">少儿</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                        </div>
                        <div class="system_content">
                            <div id="active_content_ceil_0 " class="system_content_ceil">
                                <div class="oms_logo operatior_system_logo"></div>
                                <div class="system_button"><a href="http://202.100.242.90/hyperion.admin/" class="button system_button_width">海南旧OMS</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- 福建 -->
                    <div id='list_content_3' class="list_content_3 list_content height130">
                        <div class="toponymy">福建驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="education_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://112.47.3.216:8080/eduHall/gate.html?targetURL=index.html&serverPath=http%3A%2F%2F112.47.3.216%3A8080%2Fhyperion.chimera%2F&referURL=http%3A%2F%2F112.47.3.216%3A8080%2Fhyperion.chimera%2FPlatform%2FLogout&partner=&needLoading=0&userId=2&ossUserId=15280011369&token=f2623aa892c941bab38c3aaf13f9a796" class="button">测试</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div id="active_content_ceil_1 " class="active_content_ceil_1 station_ceil">
                                <div class="eastcity_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button gray"><a href="" class="button">测试-暂无</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 四川 -->
                    <div id='list_content_4' class="list_content_4 list_content height130">
                        <div class="toponymy">四川驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="children_logo logo"></div>
                                <div class="official_button"><a href="http://112.18.251.225/hyperion.chimera/index.jsp?userId=110083681&source=4&fromChannel=panel" class="button">正式</a></div>
                                <div class="test_button"><a href="http://112.18.251.225:8080/hyperion.chimera/index.jsp?userId=20975120673&source=4&fromChannel=panel" class="button">测试</a></div>
                                <div class="description">少儿</div>
                                <!-- <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- 重庆 -->
                    <div id='list_content_5' class="list_content_5 list_content height130">
                        <div class="toponymy">重庆驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="children_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://111.10.31.197:8081/childHall/gate.html?targetURL=index.html&serverPath=http%3A%2F%2F111.10.31.197%3A8081%2Fhyperion.chimera%2F&referURL=http%3A%2F%2F111.10.31.197%3A8081%2Fhyperion.chimera%2FPlatform%2FLogout&partner=&needLoading=0&userId=1&ossUserId=0105519564133573904&token=652ee1d650d840a38356f4ea48e48639" class="button">测试</a></div>
                                <div class="description">少儿</div>
                                <!-- <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- 陕西 -->
                    <div id='list_content_5' class="list_content_5 list_content height130">
                        <div class="toponymy">陕西驻地</div>
                        <div class="list_ceil">
                            <div id="active_content_ceil_0 " class="active_content_ceil_0 station_ceil">
                                <div class="children_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button"><a href="http://192.168.47.91:8082/hyperion.chimera/index.jsp?Token=e843684de04f4ddeb8e291e0d240c872" class="button">测试</a></div>
                                <div class="description">少儿</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div class="station_ceil">
                                <!-- <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div> -->
                            </div>
                            <div class="station_ceil">
                                <!-- <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div> -->
                            </div>
                            <div class="station_ceil">
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                            <div class="station_ceil">
                                <div class="education_logo logo"></div>
                                <div class="official_button gray"><a href="" class="button">正式-暂无</a></div>
                                <div class="test_button gray"><a href="" class="button">测试-暂无</a></div>
                                <div class="description">教育</div>
                                <div style="float:right;margin-top: 0px;width: 1px;height: 130px; background: darkgray;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
